<div class="mui-col-md-4">
  <div class="mui-panel">
    <h2>Links</h2>
    <ul class="about-links">
        <li><a href="/sobre/" class="mui-btn">Sobre</a></li>
        {% if site.links.twitter %}
            <li><a href="https://twitter.com/{{ site.links.twitter }}" target="_blank" class="mui-btn "><i class="fa fa-twitter"></i>Twitter</a></li>
        {% endif %}
        {% if site.links.googleplus %}
            <li><a href="https://plus.google.com/{{ site.links.googleplus }}" target="_blank" class="mui-btn "><i class="fa fa-google-plus"></i>Google Plus</a></li>
        {% endif %}
        {% if site.links.youtube %}
            <li><a href="https://www.youtube.com/{{ site.links.youtube }}" target="_blank" class="mui-btn "><i class="fa fa-youtube"></i>Youtube</a></li>
        {% endif %}
        {% if site.links.facebook %}
            <li><a href="https://www.facebook.com/{{ site.links.facebook }}" target="_blank" class="mui-btn"><i class="fa fa-facebook"></i>Facebook</a></li>
        {% endif %}
        {% if site.links.email %}
            <li><a href="mailto:{{ site.links.email }}" class="mui-btn"><i class="fa fa-envelope"></i>Email</a></li>
        {% endif %}
        {% if site.links.github %}
            <li><a href="https://github.com/{{ site.links.github }}" target="_blank" class="mui-btn"><i class="fa fa-github"></i>Github</a></li>
        {% endif %}
    </ul>
  </div>
  <div class="mui-panel">
    <h2>Adsense</h2>
      <div>
         
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sidebar_OkGNow -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7837358846130941"
     data-ad-slot="2457677315"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
     
      </div>
  </div>
  <div class="mui-panel">
  <a href="https://play.google.com/newsstand/web/publications/CAAqBwgKMJK09QowwKPcAg"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" alt="Google Play store page"></a>
  </div>
</div>
